{% extends 'blog/base.html' %}

{% block content %}
<form action="" method="POST">
<div class="card mb-3">
    <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
    <div class="card-body">
      <p>{{ post.created_at }}, {{ post.category }}</p>
      {{ post.text | linebreaksbr | urlize }}
    </div>
    <div class="alert alert-warning" role="alert"><strong>！！</strong>データを削除します。</div>
    <div class="text-right mr-5 mb-2">
      <button type="submit" class="btn btn-primary">削除</button>
      {% csrf_token %}
    </div>
</div>
</form>
{% endblock %}